importFrom("methods", "as", "slot", "slot<-")
import(sp)
import(rgeos)
import(maptools)


export(
 clgeo_GeometryReport,
 clgeo_CollectionReport,
 clgeo_SummaryReport,
 clgeo_SuspiciousFeatures,
 clgeo_IsValid,
 clgeo_CleanByPolygonation.Polygon,
 clgeo_CleanByPolygonation.Polygons,
 clgeo_CleanByPolygonation.SpatialPolygons,
 clgeo_Clean
)